<div class="header">
    <img style="width:250px;height:50px" src="https://ok14static.oktacdn.com/fs/bco/4/fs04zmjmtYG635tfw696" alt="FIS Enterprise" class="logo angleauto_fisenterprise_1"/>
    <div class="header-right">
      <!--  -->
      <a [ngClass]="this.pageclass=='role-list' ? 'active':''" (click)="this.redirect('rolelist')">Role List</a>
      <a [ngClass]="this.pageclass=='user-list' ? 'active':''" (click)="this.redirect('userlist')">User List</a>
      <a [ngClass]="this.pageclass=='certificate-details' ? 'active':''" (click)="this.redirect('certificatelist')">Certificate List</a>
      <a class="logoff" *ngIf="logIn()" style="cursor:pointer" (click)="logout()">Log Off</a>
    </div>
</div>


<!-- <div class="applogin-banner">
    <div class="applogin-background"></div>
    <div class="applogin-container">
        <h1>
          <div class="applogin-app-logo">
                <img style="width:250px;height:50px" src="https://ok14static.oktacdn.com/fs/bco/4/fs04zmjmtYG635tfw696" alt="FIS Enterprise" class="logo angleauto_fisenterprise_1">
          </div>
        </h1>
    </div>
</div> -->

