<app-header></app-header>
<div class="container">
<div class="row justify-content-center">
    <!-- <button *ngIf="this.ButtonVisible" class="btn btn-primary pull-left" style="margin-bottom:10px" (click)="redirect('')">Add Certificate</button> -->
    <div class="panel-heading" style="text-align: center;">Role Details  
        <button *ngIf="this.ButtonVisible" class="btn btn-primary pull-left" (click)="redirect('')" style="margin-bottom:10px">Add Role</button> 
        <!-- <button type="button" (click)="search(this.certificatename,this.resourcename,this.type,this.location,this.issuer)" class="btn btn-primary pull-right">
            Search
        </button>--></div> 
        <table name="roledetails" class="table table-striped table-responsive table-bordered table-sm">
            <thead>
                <tr>
                <th scope="col">#
                </th>
                <th scope="col">
                    Role Name
                    <input class="col-sm-12" (keyup)="this.loadData()" [(ngModel)]="this.rolename"  type="text" id="rname" name="rname">
                </th>
                <th scope="col">
                    Edit
                </th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr name="rows" *ngFor="let row of data">
                <th scope="row">{{row.role_id}}</th>
                <td>{{row.role_name}}</td>
                <td><button type="button" (click)="redirect(row)" class="btn btn-primary btn-sm">Edit</button></td>
                <td><input type="checkbox" name="flexCheckDefault_{{row.role_id}}" value="" style="padding: 5px;text-align:center" id="flexCheckDefault_{{row.role_id}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <app-pagination [totalItems]="totalPages" class="pagination" (pagingChanged)="this.parentEventHandlerFunction($event)"></app-pagination> -->
    <button *ngIf="this.ButtonVisible" (click)="Delete()" class="btn btn-danger float">Delete</button>
</div>
