.float {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    width: 5.5em;
    height: 2.5em;
}

.pagination {
    display: flex;
    justify-content: center;
  }


<div class="container">
	<div class="row justify-content-center">
    	<div class="panel-heading" style="text-align: center;">Certificate Details <button  class="btn btn-primary pull-left" style="margin-bottom:10px">Add Certificate</button> 
        </div> 
        <table name="certificatedetails" class="table table-striped table-responsive table-bordered table-sm">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">
                Certificate Name
                <input class="col-sm-12"  type="text" id="cname" name="cname"/>
            </th>
            <th scope="col">
                Certificate Active Status
            </th>
            <th scope="col">Resource Id</th>
            <th scope="col">
                Resource Name
                <input class="col-sm-12" type="text" id="rname" name="rname"/>
            </th>
            <th scope="col">
                Type
                <input class="col-sm-12" type="text" id="type" name="type"/>
            </th>
            <th scope="col">
                Resource Location
                <input class="col-sm-12" type="text" id="location" name="location"/>
            </th>
            <th scope="col">
                Issuer
                <input class="col-sm-12" type="text" id="issuer" name="issuer"/>
            </th>
            <th scope="col">Issue Date</th>
            <th scope="col">
                Expiration Date
            </th>
            <th scope="col">
                Edit
            </th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr name="rows">
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
            <td><input type="checkbox" value="" style="padding: 5px;text-align:center"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    <app-pagination class="pagination"></app-pagination>
    <button class="btn btn-danger float">Delete</button>
	</div>