<app-header></app-header>
<div class="container" >
    <h3>User Details {{AddorEdit}}</h3>
    <div class="container-login alignment-center-top rounded">
        <form class="container rounded">
          <div class="col-xs-12" style="display:none">
            <label for="userid">User ID:</label>
            <input type="userid" required class="form-control" id="userid" [(ngModel)]="this.single.id" name="user_name">
          </div>
            <div class="col-xs-12">
              <label for="certificatename">User Name:</label>
              <input type="certificatename" required class="form-control" id="email" [(ngModel)]="this.single.user_name" name="user_name">
            </div>
            <div class="col-xs-12">
              <label for="certificatename">Password:</label>
              <input type="password" required class="form-control" id="password" [(ngModel)]="this.single.password" name="password">
            </div>
            <div class="col-xs-12">
              <label for="status">User Active Status:</label>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="this.IsChecked" name="useractivestatus" style="margin-top:10px;padding-top: 10px;padding-right: 10px;padding-bottom: 0px;padding-left: 0px;text-align: center;" >
                <span class="slider round"></span>
              </label>
            </div>
            <div class="col-xs-12">
                <label for="status">User Role Active Status:</label>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="this.IsChecked" name="useractivestatus" style="margin-top:10px;padding-top: 10px;padding-right: 10px;padding-bottom: 0px;padding-left: 0px;text-align: center;" >
                  <span class="slider round"></span>
                </label>
            </div>
            <div class="col-xs-12">
              <label for="status">User Role :</label>
              <app-roledetails #child [roleid]="this.roleid" name="role_id" (valueChange)="valueChangeHandler($event)"></app-roledetails>
            </div>
            <div class="col-xs-12" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;text-align: center;">
                <button type="button" (click)="save()"  class="btn btn-primary ">Save</button>
            </div>
            </form>
    </div>
</div>