<app-login-header></app-login-header>
<div class="container">
    <h3 style="text-align:center">Forgot Password</h3>
    <div class="container-login alignment-center-top rounded">
        <form class="container rounded">
            <div class="col-xs-12">
              <label for="id">Email ID:</label>
              <input type="id" required class="form-control" id="email" [(ngModel)]="this.email" name="email">
            </div>
            <div class="col-xs-12" [hidden]="!ShownHide">
                <label for="id">Password:</label>
                <input type="id" required class="form-control" id="password" [(ngModel)]="this.password" name="password">
            </div>
            <div class="col-xs-12" style="padding-top: 10px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px;text-align: center;">
                <button type="button" (click)="save(this.email)"  class="btn btn-primary ">Save</button>
            </div>
        </form>
    </div>
</div>